{% extends 'login/base.html' %}
    <head>
        {% block head %}
        {% load staticfiles %}
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %} Total Patients Details {% endblock %}</title>

        <!-- Bootstrap Core CSS -->
        <link href="{% static 'login/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{% static 'login/css/metisMenu.min.css' %}" rel="stylesheet">

        <!-- Timeline CSS -->
        <link href="{% static 'login/css/timeline.css' %}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{% static 'login/css/startmin.css' %}" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="{% static 'login/css/morris.css' %}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{% static 'login/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

        <!-- Data tables CSS-->
       <link href=" https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css" type="text/css">

       <!-- Sweet alert JS-->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% endblock  %}
    </head>
<body>
{% block body %} 
        <div id="wrapper">
            <!--Navigation Top-Left  Starts-->
            {% include 'login/nav_bar.html' %}
            <!--Navigation Top-Left  Ends-->

            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Dashboard</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <!-- Page Badges  -->
                    {% include 'login/page_badges.html' %}
                    <!-- Page Badges Ends-->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    All Patients Details
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover" id="patients_table">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Age</th>
                                                    <th>Created Date</th>
                                                    <th>Update</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for patient in allpatients %}
                                                <tr class="gradeA">
                                                    {% comment %} <td style="display:none;">{{ patient.id }}</td> {% endcomment %}
                                                    <td>{{ patient.name }}</td>
                                                    <td>{{ patient.age }}</td>
                                                    <td>{{ patient.created_date }}</td>
                                                    
                                                        <td class="center">
                                                            <button type="button" class="btn btn-info update" data-toggle="modal" data-target="#updateModal" onclick="update_details('{{ patient.id }}', '{{ patient.name }}', '{{ patient.age }}', '{{ patient.created_date }}')">
                                                            <i class="glyphicon glyphicon-pencil"></i> Update
                                                            </button>
                                                        </td>
                                                        <td class="center">
                                                            <button type="button" class="btn btn-danger delete" onclick="getid('{{ patient.id }}')" data-toggle="modal" data-target="#deleteModal">
                                                            <i class="glyphicon glyphicon-remove"></i> Delete
                                                            </button>
                                                        </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                </div>
                <!-- /.container-fluid -->
                <!-- Update + Delete Modal Starts-->
                <div class="container">
                    <!--Update Modal -->
                    <div class="modal fade" id="updateModal" role="dialog">
                        <div class="modal-dialog">
                        
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Update Patient's Details:</h4>
                            </div>
                            <div class="modal-body">
                                <form id="update_form_patient" method="POST">
                                    <div class="form-group">
                                        <label for="recipient-name" class="form-control-label">Name:</label>
                                        <input type="text" class="form-control" name="name" id="name" required>
                                        <input type="hidden" id="patientid" name="patientid">
                                    </div>
                                    <div class="form-group">
                                        <label for="patient-age" class="form-control-label">Age:</label>
                                        <input type="number" class="form-control" name="age" id="age" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="patient-date" class="form-control-label">Created Date:</label>
                                        <input type="date" class="form-control" name="created_date" id="created_date" required>
                                    </div>
                                
                            </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="update_btn">Update</button>
                                </div>
                            </form>
                        </div>
                        
                        </div>
                    </div>
                    
                    <!--  Delete Modal -->
                    <div class="modal fade" id="deleteModal" role="dialog">
                        <div class="modal-dialog">
                        
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Delete Patient's Details:</h4>
                            </div>
                            <div class="modal-body">
                                <form id="update_form_patient" method="POST">
                                <p>Are Your Sure You Want To Delete..!!</p>
                                <input type="hidden" id="delid" name="delid">
                            </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-danger" id="delete_btn">Delete</button>
                                </div>
                            </form>
                            </div>
                        
                        </div>
                    </div>
                </div>
                <!--Ends-->
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="{% static 'login/js/jquery.min.js' %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'login/js/bootstrap.min.js' %}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{% static 'login/js/metisMenu.min.js' %}"></script>

        <!-- Morris Charts JavaScript -->
        <script src="{% static 'login/js/raphael.min.js' %}"></script>
        <script src="{% static 'login/js/morris.min.js' %}"></script>
        <script src="{% static 'login/js/morris-data.js' %}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{% static 'login/js/startmin.js' %}"></script>

        <!--Data Table JS-->
        <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js"></script>
        
        <!--Custom JS (My Own JQUery File)-->
        <script src="{% static 'login/js/custom.js' %}"></script>

        <!-- Get ID for Delete request-->
        <script>
            function getid(id)
            {
            document.getElementById("delid").value = id;
            }
            
        </script>
        <!--Ends Here-->

        <script>
        //Function for converting Date string into mm/dd/yy Format////
        function formatDate(date) 
        {
            var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

            if (month.length < 2) month = '0' + month;
            if (day.length < 2) day = '0' + day;

            return [year, month, day].join('-');
        }

        // Ends Here ////

        // Function for getting patient's Details //
        function update_details(id, name, age,created_date)
        {
            document.getElementById("name").value = name;
            document.getElementById("age").value = age;
            document.getElementById("patientid").value = id;
            var DateCreated = formatDate(created_date);
            document.getElementById("created_date").value = DateCreated;
        }

        </script>
        <!--Ends here-->
{% endblock  %}
    </body>
