{% extends 'login/base.html' %}
    <head>
        {% block head %}
        {% load staticfiles %}
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %} {{user|title}} Dashboard {% endblock %}</title>

        <!-- Bootstrap Core CSS -->
        <link href="{% static 'login/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{% static 'login/css/metisMenu.min.css' %}" rel="stylesheet">

        <!-- Timeline CSS -->
        <link href="{% static 'login/css/timeline.css' %}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{% static 'login/css/startmin.css' %}" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="{% static 'login/css/morris.css' %}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{% static 'login/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

        <!-- Custom Style Sheet -->
        <link href="{% static 'login/css/custom_style.css' %}" rel="stylesheet">

         <!--Fusion Charts-->
        <script type="text/javascript" src="{% static "fusioncharts/js/fusioncharts.js" %}"></script>
        <script type="text/javascript" src="{% static "fusioncharts/js/themes/fusioncharts.theme.fusion.js" %}"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% endblock  %}
    </head>
<body id="profile_body">
{% block body %} 
        <div id="wrapper">
            <!--Navigation Top-Left  Starts-->
            {% include 'login/nav_bar.html' %}
            <!--Navigation Top-Left  Ends-->

            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Dashboard</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <!-- Page Badges  -->
                    {% include 'login/page_badges.html' %}
                    <!-- Page Badges Ends-->
                    <!-- /.row -->

                    <!-- Page Content -->
                    <div class="row">
                        <div class="col-lg-12">
                            {% if user.user_name.role == 'ADMIN'%}
                                <div id="Patientstchart-container">{{ output|safe }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Page Content Ends-->

                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="{% static 'login/js/jquery.min.js' %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'login/js/bootstrap.min.js' %}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{% static 'login/js/metisMenu.min.js' %}"></script>

        <!-- Morris Charts JavaScript -->
        <script src="{% static 'login/js/raphael.min.js' %}"></script>
        <script src="{% static 'login/js/morris.min.js' %}"></script>
        <script src="{% static 'login/js/morris-data.js' %}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{% static 'login/js/startmin.js' %}"></script>
         <!-- Sweet Alert Javascript-->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <!--Custom JavaScript-->
        <script src="{% static 'login/js/custom.js' %}"></script>
        
    {% endblock %}
    </body>
     
